<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <scrip
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <style>
      h1 {
        text-align: center;
      }

      .container {
        margin-block-start: 20px;
        margin-block-end: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      .container span {
        color: red;
        font-weight: bold;
      }

      .item-title {
        display: flex;
        justify-content: space-between;
      }

      .note {
        color: red;
        font-weight: bold;
      }

      #container {
        width: 100%;
        margin: 20px auto;
      }
      .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
      }
      .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
      }
    </style>
    <title>License</title>
  </head>
  <body>
    <aside><%- include('./components/sidebar.ejs') %></aside>
    <div class="container">
      <h1>Yêu cầu cấp phép quảng cáo</h1>
      <form action="" class="row g-3">
        <div class="item-container">
          <div class="item-title">
            <label for="bienqc" class="form-label">ID điểm đặt</label>
          </div>
          <input
            class="form-control"
            type="text"
            id="bienqc"
            name="bienqc"
            value=<%=license.locationID%>
            readonly
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="diemqc" class="form-label">Điểm đặt biển</label>
            <span id="Diemqc">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="diemqc"
            name="diemqc"
            value=""
            readonly
            autocomplete="on"
            list="spotList"
            required
          />
          <datalist id="spotList" style="display: none;">
            <% locations.forEach((spot) => { %>
                <option value="<%= spot.name; %>"></option>
            <% }); %>
        </datalist>
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="boardTypeName" class="form-label">Loại Bảng</label>
            <span id="Hthuc">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="boardTypeName"
            name="hthuc"
            value=<%=license.boardType%>
            readonly
            required
            list="boardTypeList"
          />
          <input type="text" class="form-control" id="boardType" hidden />
                        <datalist id="boardTypeList" style="display: none;">
                            <% boardtypes.forEach((type)=> { %>
                            <option value="<%= type.typeName; %>"></option>
                            <% }); %>
                        </datalist>
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="slbienqc" class="form-label">Số lượng biển</label>
            <span id="Slbienqc">*</span>
          </div>
          <input
            class="form-control"
            type="number"
            id="slbienqc"
            name="slbienqc"
            value=<%=license.quantity%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="chieudai" class="form-label">Chiều dài biển(m)</label>
            <span id="Chieudai">*</span>
          </div>
          <input
            class="form-control"
            type="number"
            id="chieudai"
            name="chieudai"
            value=<%=license.height%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="chieurong" class="form-label">Chiều rộng biển(m)</label>
            <span id="Chieurong">*</span>
          </div>
          <input
            class="form-control"
            type="number"
            id="chieurong"
            name="chieurong"
            value=<%=license.width%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="dccty" class="form-label">Địa chỉ điểm đặt</label>
            <span id="Dccty">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="dccty"
            name="dccty"
            value=""
            readonly
            required
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="tencty" class="form-label"
              >Tên công ty xin cấp phép</label
            >
            <span id="Tencty">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="tencty"
            name="tencty"
            value=<%=license.companyName%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="dcct" class="form-label">Địa chỉ công ty</label>
            <span id="Dcct">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="dcct"
            name="dcct"
            value=<%=license.companyAddress%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="mailcty" class="form-label">Email công ty</label>
            <span id="Mailcty">*</span>
          </div>
          <input
            class="form-control"
            type="text"
            id="mailcty"
            name="mailcty"
            value=<%=license.companyEmail%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-4">
          <div class="item-title">
            <label for="sdtcty" class="form-label">Điện thoại liên lạc</label>
            <span id="Sdtcty">*</span>
          </div>
          <input
            class="form-control"
            type="number"
            id="sdtcty"
            name="sdtcty"
            value=<%=license.phoneNumber%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-6">
          <div class="item-title">
            <label for="startdate" class="form-label"
              >Ngày bắt đầu hợp đầu</label
            >
            <span id="Startdate">*</span>
          </div>
          <input
            class="form-control"
            type="date"
            id="startdate"
            name="startdate"
            value=<%=license.startDate%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-6">
          <div class="item-title">
            <label for="enddate" class="form-label"
              >Ngày kết thúc hợp đồng</label
            >
            <span id="Enddate">*</span>
          </div>
          <input
            class="form-control"
            type="date"
            id="enddate"
            name="enddate"
            value=<%=license.endDate%>
            readonly
            required
          />
        </div>

        <div class="item-container col-md-6">
          <div class="item-title">
            <label for="formFileLg" class="form-label"
              >Hình ảnh minh họa 1</label
            >
            <span id="Anh1">*</span>
          </div>
          <img
            class="form-control"
            id="formFileLg1"
            type="file"
            accept="image/*"
            required
          />
        </div>

        <div class="item-container col-md-6">
          <div class="item-title">
            <label for="formFileLg" class="form-label"
              >Hình ảnh minh họa 2</label
            >
            <span id="Anh2">*</span>
          </div>

          <img
            class="form-control"
            id="formFileLg2"
            type="file"
            accept="image/*"
            required
          />
        </div>

        <div class="item-container">
          <div class="item-title">
            <label for="ndqc">Nội dung biển quảng cáo</label>
            <span id="Ndqc">*</span>
          </div>
          <div id="container">
            <textarea>
                <%= license.content%>
            </textarea>
          </div>
        </div>
        <div class="note" id="must">(*) : Bắt buộc</div>
      </form>
      <div class="d-flex mt-3 align-items-center justify-content-center">
        <button class="btn btn-primary" id="submitBtn" type="button">Gửi yêu cầu</button>
      </div>
    </div>
  </body>
  <script defer>
    const submitHandler = async (e) => {
      e.preventDefault();

      // Check spot name.
      const spotNameInput = document.getElementById('diemqc').value.trim();
      const spotList = JSON.parse('<%- JSON.stringify(locations); %>');
      if(spotNameInput == '' || !(spotList.some(spot => spot.name === spotNameInput))){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng TÊN ĐIỂM ĐẶT.";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check company name
      const companyName = document.getElementById('tenty').value.trim();
      if(companyName == ''){
          document.getElementById('warning-text').textContent = "Vui lòng nhập TÊN CÔNG TY";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check phone number is digit ?
      const companyPhone = document.getElementById('sdtcty').value
      if(companyPhone == '' || !(/^\d+$/).test(companyPhone)){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng SỐ ĐIỆN THOẠI (tất cả đồ là chữ số)";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check email format
      const companyEmail = document.getElementById('mailcty').value;
      if(companyEmail == '' || !(/^[^\s@]+@[^\s@]+\.[^\s@]+$/).test(companyEmail)){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng số ĐỊA CHỈ EMAIL (example@abc.xyz)";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check company address
      const companyAddress = document.getElementById('dccty').value.trim();
      if(companyAddress == ''){
          document.getElementById('warning-text').textContent = "Vui lòng nhập ĐỊA CHỈ công ty";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check startDate & EndDate
      const startDate = document.getElementById('startdate').value;
      const endDate = document.getElementById('enddate').value;
      const curDate = new Date();
      const sDate = new Date(startDate);
      if(startDate == '' || endDate == '' || startDate >= endDate || sDate <= curDate){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng NGÀY BẮT ĐẦU và NGÀY KẾT THÚC";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check board type (chưa có)
      const boardTypeInput = document.getElementById('boardTypeName').value.trim();
      const boardTypeList = JSON.parse('<%- JSON.stringify(boardtypes); %>');
      if(boardTypeInput == '' || !(boardTypeList.some(type => type.typeName === boardTypeInput))){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng LOẠI BẢNG QUẢNG CÁO.";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check quantity
      const quantity = document.getElementById('slbienqc').value
      if(quantity == '' || !(/^\d+$/).test(quantity) || Number.parseInt(quantity) > 10 || Number.parseInt(quantity) < 0){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng SỐ LƯỢNG BẢNG / TRỤ (số nguyên từ 0 tới 10).";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check height
      const height = document.getElementById('chieurong').value
      if(height == '' || Number.parseFloat(height) > 50.0 || Number.parseFloat(height) < 0.0){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng CHIỀU CAO (từ 0 tới 50).";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check width
      const width = document.getElementById('chieudai').value
      if(width == '' || Number.parseFloat(width) > 50.0 || Number.parseFloat(width) < 0.0){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng CHIỀU RỘNG (từ 0 tới 50).";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // Check content
      const check = document.getElementById('editor');
      const content = check.getData();
      if(content == ''){
          document.getElementById('warning-text').textContent = "Vui lòng nhập NỘI DUNG QUẢNG CÁO.";
          document.getElementById('alert-warning').hidden = false;
          return;
      }
  
      // ................................................
      const inputImage1 = document.getElementById('formFileLg1');
      const inputImage2 = document.getElementById('formFileLg2');
      const files = [];
      files.push(inputImage1.files);
      files.push(inputImage2.files);
  
      loader.style.display = 'block'; // show loader
  
      const imgUrls = await upload2Imgur(files);
      // console.log(imgUrls);
  
      // Check image
      if(imgUrls.length == 0){
          document.getElementById('warning-text').textContent = "Vui lòng tải lên ÍT NHẤT MỘT ẢNH về bảng quảng cáo.";
          document.getElementById('alert-warning').hidden = false;
          loader.style.display = 'none';
          return;
      }
      // ................................................
  
      const data = {
        spotID: document.getElementById('spotID').value,
        boardType: document.getElementById('boardType').value,
        quantity: quantity,
        height: height,
        width: width,
        adsImages: imgUrls,
        content: content,
        companyName: companyName,
        companyPhone: companyPhone,
        companyEmail: companyEmail,
        companyAddress: companyAddress,
        startDate: startDate,
        endDate: endDate,
        officerUsername: '<%= user.username %>',
        extendForBoard: '',
      }
      const url = '<%= url %>';
      const requestUrl = url.replace('/create', '');
  
      // console.log(data);
      // console.log(requestUrl);
      const result = await fetch(requestUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      });
      if (result.status == 200) {
          document.getElementById('alert-success').removeAttribute('hidden');
          // clear all input
          document.querySelectorAll('input').forEach((input) => {
              input.value = '';
          });
          document.getElementById('alert-success').addEventListener('closed.bs.alert', () => {
              console.log('1');
              const role = JSON.parse('<%- JSON.stringify(role); %>');
              window.location.href = `/${role}/license`;
          });
      } else {
          document.getElementById('alert-danger').hidden = false;
      }
  
      loader.style.display = 'none';
    }
  
    const boardTypes = JSON.parse('<%- JSON.stringify(boardtypes) %>');
    const boardTypeInput = document.getElementById("boardTypeName");
    const boardTypeID = document.getElementById("boardType");
  
    boardTypeInput.addEventListener('change', (e) => {
      const boardType = boardTypes.find(type => type.typeName === boardTypeInput.value);
      boardTypeID.value = boardType.typeID;
    })
  
    document.getElementById('submitBtn').addEventListener('click', submitHandler);
  
    const spots = JSON.parse('<%- JSON.stringify(locations); %>');
    const spotIDInput = document.getElementById('bienqc');
    const spotNameInput = document.getElementById('diemqc');
    const spotAddressInput = document.getElementById('dccty');
    spotNameInput.addEventListener('keyup', (e) => {
      const spotName = e.target.value;
      const spot = spots.find((spot) => spot.name === spotName);
      if (spot) {
        spotIDInput.value = spot.id;
        spotAddressInput.value = spot.address;
      }
    })
    const curSpot = JSON.parse('<%- JSON.stringify(curSpot); %>');
    if(Object.keys(curSpot).length > 0){
      spotIDInput.value = curSpot.spotID;
      spotAddressInput.value = `${curSpot.address}, Phường ${curSpot.wardName}, Quận ${curSpot.districtName}`;
      spotNameInput.value = curSpot.spotName;
    }
  
    document.querySelectorAll('.btn-close').forEach((btn) => {
          btn.addEventListener('click', (e) => {
              e.preventDefault();
              e.target.parentElement.hidden = true;
          });
        });
  </script>
</html>
